.brand-items {
    background-color: #DEBA9D;
    padding: 25px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 0;    
}

.brand-item {
    padding-left: 30px;
}

.brand-website {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEBA9D;
    padding-bottom: 30px;
}