.navigation-header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.navigation-collection {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: aquamarine;
    border: 2px dashed lightblue;
}

.homepage-logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding-left: 15px;
}

.nav-item {
    padding: 10px 15px;
    cursor: pointer;
}