.signin {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    border: 2px solid #000000;
    width: 630px;
}

.signin-aligning {
    display: flex;
    justify-content: center;
}